* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai{
    display: flex;
    align-items: center;
}

#barra{
    background-color: black;
    height: 75px;
}

#teste{
    color:white;
    padding-left: 30px;
}

#inicio{
    color: white;
    padding-left: 100px;
}
#funcional{
    color: white;
    padding-left: 40px;
}



