* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 100vh;
}

.img-oracle34{
    margin-top: 1rem;
    width: 5vw;
    height: 5vw;
    border: 1px;
    border-radius: 1rem;
}